.manage-course-container {
    max-width: 800px;
    margin-top:200px;
    margin-left:300px;
  }
  .manage-course-container h2{
      margin-left:350px;
      font-family:fantasy;
      color:black;
  }
  
  .course-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .course-table th, .course-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .course-table th {
    background-color: #f2f2f2;
  }
  
  .course-table td button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .course-table td button:hover {
    background-color: #d32f2f;
  }
  .add-course-form {
    margin-top: 20px;
  }
  
  .add-course-form h2 {
    margin-bottom: 10px;
  }
  
  .add-course-form input[type="text"],
  .add-course-form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .add-course-form textarea {
    resize: vertical;
  }
  
  .add-course-form button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-course-form button:hover {
    background-color: #45a049;
  }
  .img5{
    width:5px;
    height: 5px;;
  }