.manage-users-container {
    max-width: 800px;
    margin-left:350px;
    margin-top:160px;
  }
  .manage-users-container h2{
    margin-left:300px;
    
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .user-table th, .user-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .user-table th {
    background-color: #f2f2f2;
  }
  
  .user-table td button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .user-table td button:hover {
    background-color: #d32f2f;
  }
  