.abcd{
    margin-left:250px; 
    margin-top:30px;
   font-size:20px;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.an{
    margin-left:450px;
   margin-top:20px;
    font-size: 25px;
}
.dot{
    margin-left:200px;
    
}
.jip{
    margin-left:250px;
    margin-top:80px;
 
}

