
.navbar {
  background-image: linear-gradient(rgba(169, 210, 250, 0.8), rgba(137, 191, 202, 0.8));
  color: #1d1919;
  /* position:fixed; */
  display: flex;
  margin-left:215px;
  width:1320px;
   height:100px; 
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
/* .let a {
  color: #fff;
  text-decoration:none;
  font-size: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */
.ret{
  margin-left:390px;
}
.nav-links {
  list-style:none;
  display: flex;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem;
}
.nav-links li {
  margin-right: 20px;
}
.nav-links li a {
  color: #211d1d;
  text-decoration: none;
}
.nav-links li a:hover {
  color: #cf0a0a;
}
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-links {
    margin-top: 20px;
  }
  .nav-links li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
