.login1 {
  background-image: url("https://res.cloudinary.com/dv3xtovhk/image/upload/v1708421500/appbg1_iizvjy.webp");
  background-size: cover;
  background-attachment: fixed;
  width: 100vw; /* Changed to viewport width */
  height: 90vh; /* Changed to viewport height */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}


.login-form {
  width: 350px;
  height: 350px;
  padding: 50px;
  background-color: rgb(120, 123, 127);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.login-form div {
  margin-bottom: 10px;
}

.login-form input[type='text'],
.login-form input[type='email'],
.login-form input[type='password'] {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
}

.login-form button[type='submit'] {
  width: 100%;
  padding: 10px;
  background-color: gray;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.login-form button[type='submit']:hover {
  background-color: cadetblue;
}
